<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>传一张照片.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49DE6D9F1D4F47670029666D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49DE6DB81D4F47670029666D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49DE6DC31D4F47670029666D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
